@font-face {
  	font-family: Caslon;
  	src: url(../fonts/ACaslonPro-Regular.otf)
}

@font-face {
  	font-family: Caslon-Bold;
  	src: url(../fonts/ACaslonPro-Bold.otf)
}

@font-face {
  	font-family: Myriad;
  	src: url(../fonts/MyriadPro-Cond.otf)
}

@font-face {
  	font-family: Myriad-Bold;
  	src: url(../fonts/MyriadPro-SemiboldCond.otf)
}

p {
	font-family: Caslon;
	font-size: 20px;
	text-align: right;
	margin: 5px 0px 0px 0px;
}

h1 {
	font-family: Myriad-Bold;
	font-size: 50px;
}

ul {
    list-style-type: none;
}

img {
	margin: 0px 15px 0px 0px;
}

#play {
    height: 50px;
    width: 300px;
	font-family: Caslon;
    font-size: 25px;
    text-align: center;
    background-color: #276092;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    text-decoration: none;
    border:none;
}

#logo {
    height: 80px;
}

.full-width {
	text-align: center;
}