@font-face {
  	font-family: WEIfont;
  	src: url(../fonts/Museo_Slab_300.otf)
}

@font-face {
  	font-family: WEIfont-bold;
  	src: url(../fonts/Museo_Slab_700.otf)
}

p {
	font-family: WEIfont;
}

h1 {
	font-family: WEIfont-bold;
}

ul {
    list-style-type: none;
}

#play {
    float: left;
    height: 50px;
    width: 300px;
	font-family: WEIfont;
    font-size: 25px;
    text-align: center;
    background-color: #b70101;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    text-decoration: none;
    cursor: poiner;
    border:none;
}

#logo {
    height: 80px;
}