ul {
    list-style-type: none;
}

#simulate {
    float: right;
    height: 25px;
    width: 100px;
    text-align: center;
    background-color: #b70101;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    text-decoration: none;
    cursor: poiner;
    border: none;
}