@(message:String)

<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>

<script>
    @Html(org.webjars.RequireJS.getSetupJavaScript(routes.WebJarAssets.at("").url))
</script>

<script data-main="@routes.Assets.at("javascripts/application.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js"))"></script>

@main("Distillation Simulation") {
    
}