@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dataTables.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/gridster.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/avgrund.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/stepper.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-switch.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/highlight.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/landing.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/glbrc-logo.png")">
        
        <!-- Embedded Javascript Router -->
        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.Application.index,
            routes.javascript.Application.ajaxCall
        )
        
    </head>
    <body>
        <div class="gridster">
            <ul>
                <li data-row="1" data-col="1" data-sizex="2" data-sizey="17">
                    <img id="logo" src="@routes.Assets.at("images/glbrc-logo.jpg")" align="left"/>
                	<h1>FINDING THE FUEL THAT FITS</h1>
                    <h2>Distillation Curve Simulation</h2>
                    <img id="intro" src="@routes.Assets.at("images/intro.png")" align="center"/>
                    <p>Engineers at the Great Lakes Bioenergy Research Center (GLBRC) are working to design mixtures of renewable fuels made from plants (biofuels) that could replace existing fossil fuels like gasoline. Done right, these drop-in biofuels could be used in our current engines without any modifications. Done wrong, poorly designed biofuels can cause engine problems and produce harmful emissions.</p>
                    <p>A key characteristic of a fuel is its volatility (ability to vaporize). To measure a fuel’s volatility, engineers slowly heat the fuel in a distillation apparatus and measure what % of the liquid evaporates over time (Fig. 1). Then they plot a graph of temperature vs % of fuel evaporated (Fig. 2). This graph is called a distillation curve. If they can design a biofuel mixture that has a distillation curve that is very similar to the reference fuel, they they know that the biofuel will be a good fit to replace the reference fossil fuel.</p>
                    <img id="figure-1" src="@routes.Assets.at("images/figure-1.png")" align="center"/>
                    <figcaption>Figure 1. Right: Diagram of basic distillation set up to boil a fuel mixture and collect the volume evaporated over time. Left: The Koehler 45200 fuel distillation apparatus used by GLBRC research to generate distillation curves for fuels.</figcaption>
                    <img id="figure-2" src="@routes.Assets.at("images/figure-2.png")" align="center"/>
                    <figcaption>Figure 2. Sample distillation curves for standard fuels. Fuels that have similar curves will work well in the same engines.</figcaption>
                    <p>In this simulation, you will take on the role of a fuel engineer designing biofuel mixtures to replace fossil fuels. At each level, you will be given a distillation curve for a reference fossil fuel. Then will have analyze the graph and select a mixture biofuel options that you think will match the volatility of the reference fuel. After the distillation simulation runs, you can see how well your biofuel distillation curve matches the reference fuel. Each curve you generate is scored from 0-100 based on how well it matches the reference fuel. A score of at least 80 is needed to move to the next level.</p>
                    <p>The number of chemical components of the reference fuel and the number of biofuel options to mix increase as you go to higher levels:</p>
                    <table>
                    	<thead>
                        	<tr>
                        		<td class="col1">Level</td>
                            	<td>Description</td>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr>
                        		<td class="col1">1</td>
                            	<td>Select from 5 biofuel component options to match distillation curve for a 1-component reference fuel.</td>
                        	</tr>
                        	<tr>
                        		<td class="col1">2</td>
                        	    <td>Select from 10 biofuel component options to match distillation curve for a 1-2 component reference fuel.</td>
                        	</tr>
                        	<tr>
                        		<td class="col1">3</td>
                       	     	<td>Select from 15 biofuel component options to match distillation curve for a 2-3 component reference fuel.</td>
                       	 	</tr>
                        	<tr>
                        		<td class="col1">4</td>
                            	<td>Create a biofuel mixture using up to four of the 15 biofuel component options to match the distillation of actual gasoline.</td>
                        	</tr>
                        </tbody>
                    </table>
                    <h3>Simulation Options</h3>
                    <table id="options">
                    	<tbody>
                        	<tr>
                            	<td class="option">Number of Levels:</td>
                                <td><form><input type="number" id="levels" value="4" min="1" max="4" step="1" readonly></form></td>
                            </tr>
                            <tr>
                            	<td class="option">Simplified Models: <sup><strong><a href="/help">?</a></strong></sup></td>
                                <td><input type="checkbox" name="matlab"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="full-width"><button type="button" id="play">Play</button></div>
                </li>
            </ul>
         </div>
    </body>
</html>